<div class="uk-margin-large-top">
    <h4>Related Content: </h4>

    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% assign countTags = 0 %}

    <ul class="uk-list uk-list-large link-icon-right ">
    {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
        {% if post.url != page.url %}
            {% if page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% assign countTags = countTags | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}


    {% if sameTagCount >= minCommonTags %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
    {% endif %}

    {% endfor %}

    {% if countTags == 0 %}
        <li>No related posts found.</li>
    {% endif %}
    </ul>
</div>
